.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 100px;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: background 0.3s ease;
}

.wrapper:hover {
  background: hsl(0deg 0% 50% / 0.2);
}
