.wrapper {
  position: relative;
  overflow: hidden;
}

.borderTop,
.borderBottom,
.borderLeft,
.borderRight {
  position: absolute;
  z-index: 10;
}

.borderTop,
.borderBottom {
  height: 100px;
  width: 100%;
}

.borderLeft,
.borderRight {
  height: 100%;
  width: 100px;
}

.borderTop {
  top: 0px;
  background: linear-gradient(
    to bottom,
    hsl(0, 0%, 92%) 0%,
    hsla(0, 0%, 92%, 0.987) 0%,
    hsla(0, 0%, 92%, 0.951) 0.2%,
    hsla(0, 0%, 92%, 0.896) 0.8%,
    hsla(0, 0%, 92%, 0.825) 1.9%,
    hsla(0, 0%, 92%, 0.741) 3.7%,
    hsla(0, 0%, 92%, 0.648) 6.4%,
    hsla(0, 0%, 92%, 0.55) 10.2%,
    hsla(0, 0%, 92%, 0.45) 15.2%,
    hsla(0, 0%, 92%, 0.352) 21.6%,
    hsla(0, 0%, 92%, 0.259) 29.6%,
    hsla(0, 0%, 92%, 0.175) 39.4%,
    hsla(0, 0%, 92%, 0.104) 51.2%,
    hsla(0, 0%, 92%, 0.049) 65.1%,
    hsla(0, 0%, 92%, 0.013) 81.3%,
    hsla(0, 0%, 92%, 0) 100%
  );
}

.borderBottom {
  bottom: -0px;
  background: linear-gradient(
    to top,
    hsl(0, 0%, 92%) 0%,
    hsla(0, 0%, 92%, 0.987) 0%,
    hsla(0, 0%, 92%, 0.951) 0.2%,
    hsla(0, 0%, 92%, 0.896) 0.8%,
    hsla(0, 0%, 92%, 0.825) 1.9%,
    hsla(0, 0%, 92%, 0.741) 3.7%,
    hsla(0, 0%, 92%, 0.648) 6.4%,
    hsla(0, 0%, 92%, 0.55) 10.2%,
    hsla(0, 0%, 92%, 0.45) 15.2%,
    hsla(0, 0%, 92%, 0.352) 21.6%,
    hsla(0, 0%, 92%, 0.259) 29.6%,
    hsla(0, 0%, 92%, 0.175) 39.4%,
    hsla(0, 0%, 92%, 0.104) 51.2%,
    hsla(0, 0%, 92%, 0.049) 65.1%,
    hsla(0, 0%, 92%, 0.013) 81.3%,
    hsla(0, 0%, 92%, 0) 100%
  );
}

.borderLeft {
  left: -0px;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 92%) 0%,
    hsla(0, 0%, 92%, 0.987) 0%,
    hsla(0, 0%, 92%, 0.951) 0.2%,
    hsla(0, 0%, 92%, 0.896) 0.8%,
    hsla(0, 0%, 92%, 0.825) 1.9%,
    hsla(0, 0%, 92%, 0.741) 3.7%,
    hsla(0, 0%, 92%, 0.648) 6.4%,
    hsla(0, 0%, 92%, 0.55) 10.2%,
    hsla(0, 0%, 92%, 0.45) 15.2%,
    hsla(0, 0%, 92%, 0.352) 21.6%,
    hsla(0, 0%, 92%, 0.259) 29.6%,
    hsla(0, 0%, 92%, 0.175) 39.4%,
    hsla(0, 0%, 92%, 0.104) 51.2%,
    hsla(0, 0%, 92%, 0.049) 65.1%,
    hsla(0, 0%, 92%, 0.013) 81.3%,
    hsla(0, 0%, 92%, 0) 100%
  );
}

.borderRight {
  right: -0px;
  background: linear-gradient(
    to left,
    hsl(0, 0%, 92%) 0%,
    hsla(0, 0%, 92%, 0.987) 0%,
    hsla(0, 0%, 92%, 0.951) 0.2%,
    hsla(0, 0%, 92%, 0.896) 0.8%,
    hsla(0, 0%, 92%, 0.825) 1.9%,
    hsla(0, 0%, 92%, 0.741) 3.7%,
    hsla(0, 0%, 92%, 0.648) 6.4%,
    hsla(0, 0%, 92%, 0.55) 10.2%,
    hsla(0, 0%, 92%, 0.45) 15.2%,
    hsla(0, 0%, 92%, 0.352) 21.6%,
    hsla(0, 0%, 92%, 0.259) 29.6%,
    hsla(0, 0%, 92%, 0.175) 39.4%,
    hsla(0, 0%, 92%, 0.104) 51.2%,
    hsla(0, 0%, 92%, 0.049) 65.1%,
    hsla(0, 0%, 92%, 0.013) 81.3%,
    hsla(0, 0%, 92%, 0) 100%
  );
}
