.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 110%;
  z-index: -100;
}

.modelLeft,
.modelRight {
  position: absolute;
}

.modelRight:nth-child(1) {
  right: 0;
}

.modelLeft:nth-child(2) {
  left: 0;
  top: 100vh;
}

.modelRight:nth-child(3) {
  right: 0;
  bottom: 5rem;
}

@media (max-width: 1430px) {
  .modelRight:nth-child(3) {
    right: 0;
    bottom: 15vh;
  }
}
