.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  animation: fadeIn 300ms ease-in-out forwards;
  animation-delay: var(--timeout);
  opacity: 0;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  animation: pulsOut 1.5s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(var(--color-underline), 0.75));
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem rgb(var(--color-underline), 0.1);
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 rgb(var(--color-underline), 0.1);
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem rgb(var(--color-underline), 0.1);
    opacity: 1;
  }
  50%,
  100% {
    box-shadow: inset 0 0 0 0 rgb(var(--color-underline), 0.1);
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%,
  50% {
    box-shadow: 0 0 0 0 rgb(var(--color-underline), 0.1);
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem rgb(var(--color-underline), 0.1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
