.wrapper {
  width: 5rem;
}

.wrapper a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link div {
  width: 3rem;
  height: 2.5rem;
  position: relative;
}

.wrapper p {
  margin: 0.5rem;
}
