.wrapper {
  padding: 1rem;
  margin: 5rem 0 0 0;
  width: 100%;
  height: 16rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.build {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.viewResume {
  font-size: 20px;
}

.resumeWrapper {
  margin: 1rem;
  display: flex;
}

@media (max-width: 1430px) {
  .build {
    width: 90%;
    font-size: clamp(20px, 8vw, 35px);
  }
}
