.lessonTextWrapper {
  width: 60%;
  display: flex;
  justify-content: center;
}

.lessonTextWrapper p {
  margin: 0 0 2rem 0;
}

@media (max-width: 1430px) {
  .lessonTextWrapper {
    width: 100%;
  }
}
