.wrapper {
  margin: 0 0 5rem 0;
  width: 100%;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--color-text);
  border-radius: 20px; */
}

.text {
  padding: 0 0 1rem 0;
  width: 40rem;
  font-size: 22px;
}

.text::selection,
.caret::selection {
  background: var(--color-background-secondary);
  color: black;
}

.text::selection,
.caret::-moz-selection {
  background: var(--color-background-secondary);
  color: black;
}

.caret {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 1430px) {
  .wrapper {
    margin: 0 0 3rem 0;
  }

  html[data-color-theme="dark"] .innerWrapper {
    backdrop-filter: blur(10px);
  }

  .text {
    width: 80%;
    max-width: 40rem;
    font-size: clamp(18px, 4vw, 20px);
  }
}
